
<div style="width: 50%; margin: auto">
  <h3 style="color: Blue"><%= flash[:success] %></h3>
  <h4><%= @user.firstName + " " + @user.lastName %></h4>
  <h5><%= @user.email %></h5>
  <h5>Account Status: <% if @user.verified? %>Verified<% else -%>Not Verified<% end -%></h5>
  <% if !@user.verified? %>
      <h5>
        <%= link_to "Need 2FA: Verify your account now.", register_verify_path %>
      </h5>
  <% end -%>
</div>
