
<div class="btn-group pull-left open">
  <a id="pairselect-button" class="btn" data-toggle="dropdown" href="#">
    <span class="pairtext">XBT/EUR</span>
    <span class="caret"></span>
    <input type="hidden" name="pair" value="XBTEUR">
  </a>
  <ul class="dropdown-menu currencylist" role="menu" aria-labelledby="dLabel" style="z-index: 100000">
    <li class="pairlink">
      <a class="currpairs" tabindex="-1" data-pair="XBTEUR" data-pair-text="XBT/EUR">XBT/EUR</a>
    </li>
    <li class="pairlink">
      <a class="currpairs" tabindex="-1" data-pair="XBTUSD" data-pair-text="XBT/USD">XBT/USD</a>
    </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#">"XBT"::after</a>
      <ul class="dropdown-menu pairlist">
        <li class="pairlink">
          <a class="currpairs" tabindex="-1" data-pair="XBTEUR" data-pair-text="XBT/EUR">XBT/EUR</a>
        </li>
        <li class="pairlink">
          <a class="currpairs" tabindex="-1" data-pair="XBTUSD" data-pair-text="XBT/USD">XBT/USD</a>
        </li>
      </ul>
    </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#">"DASH"::after</a>
      <ul class="dropdown-menu pairlist">
        <li class="pairlink">
          <a class="currpairs" tabindex="-1" data-pair="DASHEUR" data-pair-text="DASH/EUR">DASH/EUR</a>
        </li>
        <li class="pairlink">
          <a class="currpairs" tabindex="-1" data-pair="DASHUSD" data-pair-text="DASH/USD">DASH/USD</a>
        </li>
      </ul>
    </li>
  </ul>
</div>