<section id="desc2" class="pic-text pic-text-left">
  <div class="container">
    <div class="row">
      <!-- LEFT PIC-->
      <div data-wow-offset="15" data-wow-duration="1.2s" class="col-md-6 wow fadeInLeft animated">
        <div class="mockup-mobile">
          <img src="img/ipad-air.png" alt="" data-no-retina>
        </div>
      </div>
      <!-- RIGHT TEXT-->
      <div class="col-md-6">
        <!-- SECTION TITLE-->
        <h2>Mobile first approach</h2>
        <p>Nulla feugiat tempor lorem, in vehicula tortor consequat sed. Ut consectetur ullamcorper purus a rutrum. Mauris ut est lorem. Cras pellentesque, est ac faucibus tincidunt, nunc urna vestibulum nulla, in luctus ligula purus in eros.</p>
        <!-- FEATURE LIST-->
        <ul class="featured-list">
          <li>
                     <span class="fa-stack fa-lg">
                        <em class="fa fa-circle fa-stack-2x"></em>
                        <em class="fa fa-code fa-stack-1x fa-inverse"></em>
                     </span>
            <p>Well organized &amp; commented code</p>
          </li>
          <li>
                     <span class="fa-stack fa-lg">
                        <em class="fa fa-circle fa-stack-2x"></em>
                        <em class="fa fa-bullhorn fa-stack-1x fa-inverse"></em>
                     </span>
            <p>LESS, JADE &amp; modular Javascript</p>
          </li>
          <li>
                     <span class="fa-stack fa-lg">
                        <em class="fa fa-circle fa-stack-2x"></em>
                        <em class="fa fa-compass fa-stack-1x fa-inverse"></em>
                     </span>
            <p>Multiple layout options</p>
          </li>
          <li>
                     <span class="fa-stack fa-lg">
                        <em class="fa fa-circle fa-stack-2x"></em>
                        <em class="fa fa-paint-brush fa-stack-1x fa-inverse"></em>
                     </span>
            <p>Multiple color options</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>