<section id="desc1" class="pic-text pic-text-right">
  <div class="container">
    <div class="row">
      <!-- LEFT TEXT-->
      <div class="col-md-6">
        <!-- SECTION TITLE-->
        <h2>Translation ready and RTL support</h2>
        <p>Suspendisse luctus, nisl a venenatis sagittis, ante odio pellentesque erat, ac bibendum felis est quis odio. Pellentesque odio purus, egestas ac luctus gravida, rutrum ut quam. Cras tristique metus nec diam ornare vitae placerat sapien
          pellentesque.</p>
        <p>Praesent nec metus eu urna tempor varius id quis mauris. Mauris porttitor tincidunt odio, id facilisis tortor auctor et. In urna nisl, convallis et malesuada quis, scelerisque at est.</p>
        <p>Vivamus et urna magna. Suspendisse tincidunt orci nec arcu semper imperdiet volutpat elit faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          <br>
          <br>
        </p>
        <p>
          <em>Laoreet vitae pretium eget, lobortis sit amet ante.</em>
        </p>
      </div>
      <!-- RIGHT PIC-->
      <div data-wow-offset="15" data-wow-duration="1.2s" class="col-md-6 wow fadeInRight animated">
        <div class="mockup-mobile">
          <img src="img/iphone-angle.png" alt="" data-no-retina>
        </div>
      </div>
      <!-- /END PHONES IMAGE-->
    </div>
  </div>
</section>