<section id="download" class="download">
  <div class="container">
    <h2 data-wow-offset="15" data-wow-duration="1.2s" class="wow fadeInDown animated">Get this app now on</h2>
    <div data-wow-offset="15" data-wow-duration="1.2s" class="wow fadeInUp animated">
      <a href="https://wrapbootstrap.com/theme/angle-bootstrap-admin-app-angularjs-WB04HF123" class="btn btn-lg btn-theme">
        <em class="fa fa-apple"></em>Itunes Store</a>
      <a href="https://wrapbootstrap.com/theme/angle-bootstrap-admin-app-angularjs-WB04HF123" class="btn btn-lg btn-theme">
        <em class="fa fa-android"></em>Play Store</a>
    </div>
  </div>
</section>