<section id="plans" class="plan-table">
  <div class="container">
    <!-- SECTION HEADER-->
    <div data-wow-offset="15" data-wow-duration="1.3s" class="section-header wow fadeIn animated">
      <h2>Available Options</h2>
      <div class="section-description"><u>Pay once</u>, get lifetime<u>free updates.</u>
      </div>
    </div>
    <!-- END SECTION HEADER-->
    <div class="row">
      <!-- PLAN-->
      <div data-wow-offset="15" data-wow-duration="1.3s" class="col-md-4 col-sm-4 wow fadeIn animated">
        <div class="plan">
          <h3 class="plan-header">Single</h3>
          <div class="plan-price">
            <h2><sup><small>$</small></sup>18
              <!-- span.plan-period /mo-->
            </h2>
          </div>
          <ul class="plan-features">
            <li>
              <em class="fa fa-check"></em>Unlimited Styles</li>
            <li>
              <em class="fa fa-check"></em>RTL &amp; Translation</li>
            <li>
              <em class="fa fa-check"></em>Customer support</li>
            <li>
              <em class="fa fa-check"></em>Free Updates</li>
            <li>
              <em class="fa fa-check"></em>Limited to one client</li>
            <li>
              <em class="fa fa-times plan-feature-disable"></em>Multiple installation</li>
            <li>
              <em class="fa fa-times plan-feature-disable"></em>Not ready for resale</li>
          </ul>
          <hr>
          <div class="text-center"><a href="https://wrapbootstrap.com/theme/angle-bootstrap-admin-template-WB04HF123" class="btn btn-theme">Choose</a>
          </div>
        </div>
      </div>
      <!-- PLAN-->
      <div data-wow-offset="15" data-wow-duration="1.3s" class="col-md-4 col-sm-4 wow fadeIn animated">
        <div class="plan">
          <h3 class="plan-header">Multiple</h3>
          <div class="plan-price">
            <h2><sup><small>$</small></sup>70
              <!-- span.plan-period /mo-->
            </h2>
          </div>
          <ul class="plan-features">
            <li>
              <em class="fa fa-check"></em>Unlimited Styles</li>
            <li>
              <em class="fa fa-check"></em>RTL &amp; Translation</li>
            <li>
              <em class="fa fa-check"></em>Customer support</li>
            <li>
              <em class="fa fa-check"></em>Free Updates</li>
            <li>
              <em class="fa fa-check"></em>Unlimited clients</li>
            <li>
              <em class="fa fa-check"></em>Multiple installation</li>
            <li>
              <em class="fa fa-times plan-feature-disable"></em>Not ready for resale</li>
          </ul>
          <hr>
          <p class="plan-description">The perfect price for all your project solutions.</p>
          <div class="text-center"><a href="https://wrapbootstrap.com/theme/angle-bootstrap-admin-template-WB04HF123?l=m" class="btn btn-theme">Choose</a>
          </div>
        </div>
      </div>
      <!-- PLAN-->
      <div data-wow-offset="15" data-wow-duration="1.3s" class="col-md-4 col-sm-4 wow fadeIn animated">
        <div class="plan">
          <h3 class="plan-header">Extended</h3>
          <div class="plan-price">
            <h2><sup><small>$</small></sup>900
              <!-- span.plan-period /mo-->
            </h2>
          </div>
          <ul class="plan-features">
            <li>
              <em class="fa fa-check"></em>Unlimited Styles</li>
            <li>
              <em class="fa fa-check"></em>RTL &amp; Translation</li>
            <li>
              <em class="fa fa-check"></em>Customer support</li>
            <li>
              <em class="fa fa-check"></em>Free Updates</li>
            <li>
              <em class="fa fa-check"></em>Unlimited clients</li>
            <li>
              <em class="fa fa-check"></em>Multiple installation</li>
            <li>
              <em class="fa fa-check"></em>Ready for resale</li>
          </ul>
          <hr>
          <div class="text-center"><a href="https://wrapbootstrap.com/theme/angle-bootstrap-admin-template-WB04HF123?l=e" class="btn btn-theme">Choose</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>