<section id="products" class="products">
  <div class="container">
    <!-- SECTION HEADER-->
    <div data-wow-offset="15" data-wow-duration="1.3s" class="section-header wow fadeIn animated">
      <h2>Our other products</h2>
      <div class="section-description">
        <span>Click on images and discover more products</span>
      </div>
    </div>
    <!-- END SECTION HEADER-->
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="product-thumb wow fadeInUp animated">
          <a href="http://wrapbootstrap.com/preview/WB0901P31" target="_blank">
            <img src="img/products/centric.png" alt="Centric" class="img-responsive">
          </a>
          <h4 class="product-caption">Centric
            <small>AngularJS and jQuery based admin template</small>
          </h4>
        </div>
      </div>
      <div class="col-md-5">
        <div class="product-thumb wow fadeInUp animated">
          <a href="http://wrapbootstrap.com/preview/WB020NMN7" target="_blank">
            <img src="img/products/beadmin.png" alt="BeAdmin" class="img-responsive">
          </a>
          <h4 class="product-caption">BeAdmin
            <small>jQuery and Laravel admin template</small>
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>